*{
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif ;
}
.allT {
    display: flex ;
    gap: 30px;
}
.this-month-con {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 40px;
}
.red-beacon {
width: 20px;
height: 40px;
background-color: #DB4444;
border-radius: 4px;

}
.this-month-text {
    color: #DB4444;
    font-weight: bold;
    font-size: 16px;
}
h1 {
    margin: 40px;
    
}
.view-all-btn {
        display: inline-block;
        background-color: #DB4444;
        color: white;
        border: none;
        border-radius: 4px; 
        
        width: fit-content;             /* "Hug" width в Figma = по контенту */
        height: 56px;                   /* точная высота */
        
        padding: 16px 48px;             /* top/bottom 16px, left/right 48px */
        gap: 10px;                      
        
        margin-left: 16px;              
        cursor: pointer;
        font-size: 16px;
        vertical-align: middle;
      
        transition: background-color 0.2s; /* плавное изменение цвета */
      }
      
      /* Эффект нажатия */
      .view-all-btn:active {
        background-color: #a83333;      /* темнее красного на мгновение */
      }
.imgfone {
    background-color: #F5F5F5;
    width: 270px;
    height: 250px;
    border-radius: 4px;
}
/* well */

img {
    width: 190px;
    height: 180px;
}
#bit {
    display: flex;
    gap: 611px;
}
